<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FindMyUrl.com</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
<header class = "center-align">
    <h2 class="grey lighten-5"><b>FindMyUrl.com<font size="2">(A Unit of Sikka's WebApps)</font></b></h2>

</header>
<main>
<div class="container">
    {% block content %}

    {% endblock %}
    <br>

</div>

    <div class="grey lighten-5" align="center">The Documents supported are DOC and DOCX</div>
    <div class="grey lighten-5" align="center">Modules for PPT, PPTX, XLS, XLSX, PDF would be added soon</div>
    <div class="grey lighten-5" align="center">Urls supported are the download links of above mentioned file types(Preferably Sharepoint Nokia URLs)</div>
    <div class="grey lighten-5" align="center">Please contact EPS Intranet, Extranet and myPortal team incase of any concerns</div>
<br>
    <div class="grey lighten-5" align="center">Author of the WebApp: Bharat Sikka</div>



</main>
<footer class="page-footer grey lighten-4 "  style="position:fixed;bottom:0;left:0;width:100%;">
          <div class="footer-copyright">
            <div class="container black-text">
            © 2018 Copyright
            <a class="black-text text-lighten-4 right" href="/admin">Admin</a>
            </div>
          </div>
</footer>

</body>
</html>


